@import '../../styles.scss';

.content {
    width: 100%;
    height: auto;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;   

    .cards {
        display: flex;
        gap: 50px;
    }

        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background-color: $primary;
            border-radius: 20px;
            padding: 20px;
            color: white;
            width: 400px;
            height: 550px;
            .icon {
                width: 200px;
                background-color: white;
                border-radius: 50%;
                cursor: pointer;
                border: 1px solid white;
                margin-top: 30px;

                &:hover {
                    border: 3px solid white;
                }
            }

            .name {
                font-family: 'Poppins', sans-serif;
                font-size: 20px;
                margin-top: 20px;
                cursor: pointer;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

                &:hover { 
                    text-decoration: underline;
                }
            }


            p {
                font-family: 'Poppins', sans-serif;
                max-width: 400px;
                margin-top: 20px;
            }

            .hire {
                border: none;
                font-size: 16px;
                color: white;
                padding: 8px 16px;
                background-color: $primary;
                border-radius: 10px;
                margin: 14px;
                border: 2px solid white;
                cursor: pointer;
                font-weight: bold;
                transition: all 0.3s ease;
                margin-top: 30px;
                margin-bottom: 0px;
            
                &:hover {
                    background-color: white;
                    border: 2px solid $primary;
                    color: $primary;
                }
            
            }

        }

        .skills {
            width: 400px;
            height: 550px;
            background-color: $primary;
            border-radius: 20px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 20px;
            color: white;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
            
            h3 {
                font-size: 20px;
            }

            h4 {
                font-size: 17px;
            }

            .uniLogo {
                width: 100px;
                border-radius: 50%;
            }

            .icons{
               display: flex;
               gap: 20px;

             img { width: 50px;
              backgorund-color: white;
              border: 1px solid white;
              border-radius: 50%;
            }

        }


}

button {
    border: none;
    font-size: 16px;
    color: white;
    padding: 8px 16px;
    background-color: $primary;
    border-radius: 10px;
    margin: 14px;
    border: 2px solid white;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-top: 50px;
    &:hover {
        background-color: white;
        border: 2px solid $primary;
        color: $primary;
    }
}

}
