<div class="content">
    <div class="cards">
        <div class="form">
            <img [src]="sharedData.imgUrl" alt="icon" class="icon">
            <h3 class="name">{{sharedData.fname}} <br> {{sharedData.lname}}</h3>
            <p class="info">{{sharedData.info}}</p>
            <button class="hire">Contact</button>
        </div>
    
    <div class="skills">
        <h3>Education</h3>
        <h4>University: <br> {{sharedData.university}}</h4>
        <a href="https://ibsu.edu.ge/ge/"><img [src]="sharedData.univIcon" alt="" class="uniLogo"></a> 
        <h4>Major: {{sharedData.education}}</h4>
        <h4>Position: {{sharedData.proSphere}}</h4>
        <h4>Skills: {{sharedData.skills}}</h4>
        <div class="icons">
          <a href="https://en.wikipedia.org/wiki/C%2B%2B"> <img [src]="sharedData.skill1iconUrl"> </a>
          <a href="https://en.wikipedia.org/wiki/Java_(programming_language)"> <img [src]="sharedData.skill2iconUrl"> </a>
          <a href="https://en.wikipedia.org/wiki/Python_(programming_language)"> <img [src]="sharedData.skill3iconUrl"> </a>
        </div>
    </div>
    <div class="socials">
        <h1>Socials</h1>
        
        <div class="social-links">
            <h2>Linkedin</h2>
            <h2>Instagram</h2>
            <h2>GitHub</h2>
            <h2>Facebook</h2>
            <h2>Email</h2>
        </div>      
    </div>
</div>
   <a routerLink="/"> <button class="homePage">Back To Home</button> </a>
</div>

