
<div class="footer">
    <!-- Useful links -->
    <div class="useful-links">

        <p>USEFUL LINKS</p>

        <ul>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
            <a href="#">Become a Member</a>
            <a href="#">FAQ</a>

        </ul>
    </div>

    <!--  News Letter -->
    <div class="newsletter">
    <h4>Sign Up For NewsLetter</h4>
    <div class="form">
        <input class="email" placeholder="lorem.ipsum@company.com" type="email">
        <input class="date"  type="date">
    </div>
        <button class="button">Submit</button>
    </div>

    <!-- Contact -->
    <div class="contact">

        <h5>CONTACT</h5>

       <a class="address-link" href="https://www.google.com/maps/dir/13+Davit+Aghmashenebeli+Ave,+T'bilisi/Tbilisi/data=!4m8!4m7!1m2!1m1!1s0x40440ce076e64517:0x5532c5cea843999a!1m2!1m1!1s0x40440cd7e64f626b:0x61d084ede2576ea3!3e0?sa=X&ved=2ahUKEwiJxubZpryAAxXvbvEDHUJnCgMQ-A96BAgXEAA&ved=2ahUKEwiJxubZpryAAxXvbvEDHUJnCgMQ-A96BAgYEA0"> 
        <p class="address"> 2, David Agmashenebeli Alley 13 km <br> Tbilisi, Georgia </p>
       </a>

        <div class="icons">
            <img src="assets/instagram-round-svgrepo-com.svg" alt="">
            <img src="assets/facebook-svgrepo-com.svg" alt="">
            <img src="assets/github-142-svgrepo-com.svg" alt="">
            <img src="assets/youtube-round-svgrepo-com.svg" alt="">
        </div>

    </div>

</div>