@import '../../../styles.scss';

.card {
    width: 300px;
    height: 350px;
    background-color: $primary;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-family: $bricolage;

    img {
      width: 100px;
    }

    button {
      width: 80px;
      height: 40px;
      background-color: $primary;
      border-radius: 10px;
      border: white 2px solid;
      padding: 5px;
      color: white;
      font-weight: bold;
      font-size: 16px;
      font-family: $poppins;
      bottom: 10px;

      &:hover {
        background-color: white;
        color: $primary;
        cursor: pointer;
      }
    }

    p {
      max-width: 70%;
    }
    
}     

@media screen and (max-width: 768px) {
    .card {
      width: 100px;
      height: 150px;

      img {
        width: 40px;
      }

      h2 {
        font-size: 10px;
      }

      p {
        font-size: 8px;
      }
  
      button {
        width: 40px;
        height: 20px;
        background-color: $primary;
        border-radius: 10px;
        border: white 2px solid;
        padding: 5px;
        color: white;
        font-weight: bold;
        font-size: 7px;
        font-family: $poppins;
        bottom: 10px;
  
      }
    }
  }