<app-nav></app-nav>
<app-menu></app-menu>
<app-line></app-line>
<app-menu-page-content>
<app-course-card [courseImg]="htmlCourse.courseImg" [courseName]="htmlCourse.courseName" [info]="htmlCourse.info"></app-course-card>
<app-course-card [courseImg]="cssCourse.courseImg" [courseName]="cssCourse.courseName" [info]="cssCourse.info"></app-course-card>
<app-course-card [courseImg]="jsCourse.courseImg" [courseName]="jsCourse.courseName" [info]="jsCourse.info"></app-course-card>
<app-course-card [courseImg]="pythonCourse.courseImg" [courseName]="pythonCourse.courseName" [info]="pythonCourse.info"></app-course-card>
<app-course-card [courseImg]="cppCourse.courseImg" [courseName]="cppCourse.courseName" [info]="cppCourse.info"></app-course-card>
<app-course-card [courseImg]="bashCourse.courseImg" [courseName]="bashCourse.courseName" [info]="bashCourse.info"></app-course-card>
<app-course-card [courseImg]="ubuntuCourse.courseImg" [courseName]="ubuntuCourse.courseName" [info]="ubuntuCourse.info"></app-course-card>
<app-course-card [courseImg]="angularCourse.courseImg" [courseName]="angularCourse.courseName" [info]="angularCourse.info"></app-course-card>
<app-course-card [courseImg]="javaCourse.courseImg" [courseName]="javaCourse.courseName" [info]="javaCourse.info"></app-course-card>
<app-course-card [courseImg]="sassCourse.courseImg" [courseName]="sassCourse.courseName" [info]="sassCourse.info"></app-course-card>
<app-course-card [courseImg]="kotlinCourse.courseImg" [courseName]="kotlinCourse.courseName" [info]="kotlinCourse.info"></app-course-card>
<app-course-card [courseImg]="swiftCourse.courseImg" [courseName]="swiftCourse.courseName" [info]="swiftCourse.info"></app-course-card>
<app-course-card [courseImg]="nodeCourse.courseImg" [courseName]="nodeCourse.courseName" [info]="nodeCourse.info"></app-course-card>
<app-course-card [courseImg]="linuxCourse.courseImg" [courseName]="linuxCourse.courseName" [info]="linuxCourse.info"></app-course-card>
<app-course-card [courseImg]="flutterCourse.courseImg" [courseName]="flutterCourse.courseName" [info]="flutterCourse.info"></app-course-card>
<app-course-card [courseImg]="phpCourse.courseImg" [courseName]="phpCourse.courseName" [info]="phpCourse.info"></app-course-card>

</app-menu-page-content>
<app-footer></app-footer>