<div class="about">
    <div class="title">
        <h1>About <span>Us</span></h1>
    </div>
    <ng-content></ng-content>
    <div class="info">
        <div class="info1">
            <h2>What is CodeRoom?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, ipsa voluptatem eaque nihil molestiae doloribus perspiciatis culpa quaerat animi quia hic eveniet nam voluptatibus dolorum cupiditate quos et. Quasi, consequuntur!</p>
        </div>
        <div class="info2">
            <h2>Why CodeRoom?</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis beatae necessitatibus ab accusantium molestias minima cumque maxime, nostrum ea eum libero dolores harum rem quaerat facere quibusdam maiores? Error, quidem!</p>   
        </div>
        <div class="info3">
            <h2>How to Get Started?</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat, dolore atque quas provident ducimus totam animi saepe, minima quidem id aut ratione, voluptas ab magnam! Perferendis impedit aliquam architecto. Quidem.</p>
        </div>
    </div>
    <div class="tip-cards">
        <div class="line"></div>
        <div class="cards">
            <div class="card">Easy To Use</div>
            <div class="inline"></div>
            <div class="card">24/7 Support</div>
            <div class="inline"></div>
            <div class="card">RealTime Info</div>
        </div>
        <div class="line"></div>
    </div>
</div>