@import '../../styles.scss';

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .line {
        width: 600px;
        height: 2px;
        background-color: $primary;
    }

    img {
        width: 300px;
    }
}