<nav>
    <div class="links">
       <a href="https://www.facebook.com/guka.mamadashvili/"> <img [src]="faceImageUrl" alt="" class="fb" (mouseenter)="faceMouseEnter()" (mouseleave)="faceMouseLeave()"> </a>
        <a href="https://www.instagram.com/guka.mamadashvili/"> <img [src]="instaImgUrl" alt="" class="insta" (mouseenter)="instaMouseEnter()" (mouseleave)="instaMouseLeave()"> </a>
        <a href="https://github.com/guka-mamadashvili"> <img [src]="gitImgUrl" alt="" (mouseenter)="gitMouseEnter()" (mouseleave)="gitMouseLeave()"> </a>
    </div> 
    <div>
        <a routerLink="/"> <h1 class="logo">Code <span>Room</span></h1> </a>
        <!-- <ul class="menu">
            <li>Home</li>
            <li>Menu</li>
            <li>About us</li>
            <li>Contact</li>
        </ul> -->
    </div>
    <div>
        <ul class="user">
            <a href="signin"> <li>Sign in</li> </a>
            <a href="signup"><li>Sign up</li></a>
        </ul>
    </div>
</nav>
