<div class="contact">
    <div class="title">
        <h1>Con<span>tact</span></h1>
    </div>
<ng-content></ng-content>
<div class="info">
    <div class="phone con-div">
    <h1>Call Us</h1>
    <img src="assets/phone-call.svg" alt="phone-logo">
    <div class="phone-info">
        <p>+995 576-90-98-17</p>
        <p>25 30 30 30</p>
    </div>
    </div>
    <div class="email con-div">
    <h1>Email Us</h1>
    <img src="assets/email.svg" alt="email-logo">
    <div class="email-info">
        <p>code.room@company.com</p>
        <p>22100570@ibsu.edu.ge</p>
    </div>
    </div>    
    <div class="chat con-div">
    <h1>Use LiveChat</h1>
    <img src="assets/live-chat.svg" alt="chat-logo">
    <div class="chat-info">
        <p>Use Old Chat</p>
        <p>Use New Chat (beta)</p>
    </div>
    </div>
</div>

<div class="tip-cards">
    <div class="cards">
    <div class="card"><p>9:00AM - 12:00PM</p></div>
    <div class="inline"></div>
    <div class="card"><p>12:00AM - 12:00PM</p></div>
    <div class="inline"></div>
    <div class="card">9:00AM - 10:00PM</div>
    </div>
</div>

</div>
