<div class="menu-page">
    <div class="categories">
        <ul class="list">
            <li>Web Development</li>
            <li>Software Development</li>
            <li>Linux Administration</li>
            <li>Mobile Development</li>
        </ul>
    </div>
    <div class="courses">
        <h2>Our Courses</h2>
        <div class="card-container">
            <ng-content></ng-content>
            <ng-content></ng-content>
            <ng-content></ng-content>
            <ng-content></ng-content>
            <ng-content></ng-content>
            <ng-content></ng-content>
            <ng-content></ng-content>
            <ng-content></ng-content>
            <ng-content></ng-content>
            <ng-content></ng-content>
            <ng-content></ng-content>
            <ng-content></ng-content>
            <ng-content></ng-content>
            <ng-content></ng-content>
            <ng-content></ng-content>
            <ng-content></ng-content>
        </div>
    </div>
</div>