@import '../../styles.scss';

.menu-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    

    .categories {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: $primary;
        padding: 15px 30px 15px;
        border-radius: 30px;
        text-shadow: $text-shadow;

        .list {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            list-style-type: none;
            gap: 40px;
            color: white;
            font-family: $poppins;
            font-size: 17px;

            li {
                padding: 10px;
                
                &:hover {
                    background-color: white;
                    color: $primary;
                    cursor: pointer;
                    border-radius: 10px;
                }
            }
        }
    }

    .courses {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 30px;
        gap: 20px;

        h2 {
            color: #333;
            padding: 5px;
            border-radius: 20px;
            font-size: 25px;
            font-family: $poppins;
        }

        .card-container {
            display: flex;
            flex-wrap: wrap; 
            justify-content: center; 
            gap: 20px; 
          }
    }
}

@media only screen and (max-width: 480px) {
    .menu-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
    
        .categories {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: $primary;
            border-radius: 30px;
            text-shadow: $text-shadow;
    
            .list {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                list-style-type: none;
                gap: 1px;
                color: white;
                font-family: $poppins;
                
    
                li {
                    padding: 10px;
                    font-size: 12px;

                    &:hover {
                        background-color: white;
                        color: $primary;
                        cursor: pointer;
                        border-radius: 10px;
                    }
                }
            }
        }
    
        .courses {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-top: 20px;
            gap: 10px;
    
            h2 {
                color: #333;
                padding: 5px;
                border-radius: 20px;
                font-size: 25px;
                font-family: $poppins;
            }
    
            .card-container {
                display: flex;
                flex-wrap: wrap; 
                justify-content: center; 
                gap: 20px; 
              }
        }
    }
}