@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;400;600&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Bebas Neue', sans-serif; */

$primary: #6C63FF;
$cpp-icon: "../../assets/cpp.png";
$text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
$poppins: 'Poppins', sans-serif;
$bebas: 'Bebas Neue', sans-serif;

* {
    margin: 0;
    padding: 0;
    a {
        text-decoration: none;
        color: black;
    }
}