@import '../../../styles.scss';

.menu-section {
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.menu {
    display: flex;
    gap: 30px;
    list-style-type: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.menu li {
    cursor: pointer;
}

.menu li:hover {
    text-decoration: underline;
}

.drop-down {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.toggler { 
    display: flex;
}

.arrow-down {
    width: 30px;
    transform: rotate(90deg);
    margin-left: -15;
}

.arrow-up {
    width: 30px;
    transform: rotate(-90deg);
}


.menu-item {
    font-size: 15px;
    color: #333;
    border-bottom: 1px solid gray;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.3ms ease;
    display: flex;
    gap: 5px;
}

.menu-item:hover {
    color: $primary;
    border-bottom: 1px solid $primary;
}

.menu-item img {
    width: 20px;
}

@media only screen and (max-width: 480px) {

    .menu-section {
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .menu {
        gap:10px;
    }

    .arrow-down {
        display: none;
    }
}