<div class="form">
    <div class="title">
        <div class="dev">
           <h1>create <br> new <br> account</h1>
        </div>
        <div class="img"> <img src="assets/account.svg" alt=""> </div>
    </div>
    <div class="info">
        <h3>Fill The Form</h3>
        <div class="firstname-sec">
        <input type="text" placeholder="Firstname" [(ngModel)]="fname">
    </div>
    <div class="surname-sec">
        <input type="text" placeholder="Surname" [(ngModel)]="lname">
    </div>
    <div class="email-sec">
        <input type="text" placeholder="Email" [(ngModel)]="email">
    </div>
    <div class="password-sec">
        <input type="password" placeholder="Password" [(ngModel)]="password">
        <input type="password" placeholder="Repeat Password" [(ngModel)]="repeatPassword">
    </div>
    <div class="submit-sec">
        <button (click)="signUp()">SignUp</button>
        <a href="signin"> <p class="acc">Have an Account ? SignIn Here</p> </a>
    </div>
</div> 
</div>